<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul id="ulf1">
                <li>
                    <a routerLink="/dashboard">
                        MERCADOM
                    </a>
                </li>
               <!-- <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>-->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desarrollado como prueba de Curso Angular 2+ - Programador Martin Feliz
            <a target="_blank">MERCADOM</a>.
        </div>
    </div>
</footer>
